.DS_Store
.exercism

# JavaScript-specific cache
*node_modules/
package-lock.json

# Haskell-specific cache
*.stack-work/

# Rust-specific cache
*target/

# Python-specific cache
*__pycache__*
*.pyc

# Erlang-specific cache
_build/

# Unison-specific files
*.unisonHistory

# Clojure-specific files
*.cpcache/

# C-specific build/test files
*.out
*.out.dSYM/
*test-framework/

# Bash-specific build/test files
bats-extra.bash

# Swift-specific build/test files
*.yarn/
.pnp.*js
yarn.lock
